@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  background: #FEAFC3;
  color: #2D3440;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #2D3440;
  text-decoration: none;
  cursor: pointer;
  padding: 12px 32px;
  background: #FCFCFC;
  border: 4px solid rgba(252, 252, 252, 0.4);
  background-clip: padding-box;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
}

.button:hover {
  background: rgba(252, 252, 252, 0.4);
  border-radius: 36px;
  border: 4px solid #FCFCFC;
  box-shadow: 0 4px 15px rgba(133, 133, 133, 0.15);
}

.button:focus {
  border: 2px solid #2D3440;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
}

/* Меню */
.navigation {
  display: flex;
  justify-content: space-around;
  width: 1170px;
  margin: 0 auto;
  padding-top: 24px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  line-height: 20px;
  padding: 0;
  width: 560px;
  list-style-type: none;
}

.navigation-list-menu {
  margin-right: 80px;
}

.navigation-link {
  display: block;
  font-weight: 400;
  padding: 8px 16px;
  position: relative;
  text-decoration: none;
  color: #2D3440;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #2D3440;
}

.navigation-user {
  margin-right: 0;
}

.navigation-user .navigation-link:not(.navigation-phone) {
  font-size: 14px;
  min-width: 16px;
  min-height: 16px;
}


.navigation-link-login .navigation-icon {
  right: auto;
  left: 16px;
  margin: auto 0;
}

.navigation-link-basket .navigation-icon {
  right: auto;
  left: 16px;
  margin: auto 0;
}

.navigation-link-catalog {
  padding-right: 30px;
  background-image: url("../images/icon-catalog-navigation.svg");
  background-repeat: no-repeat;
  background-size: 10px 6px;
  background-position: center right 14px;
}

.navigation-link-catalog .navigation-icon {
  left: auto;
  right: 10px;
  margin: auto 0;
}

.navigation-logo {
  width: 137px;
  margin-right: 32px;
}

.navigation-link:not(.navigation-phone):hover {
  background-color: rgba(252, 252, 252, 0.5);
  border-radius: 30px;
}

.navigation-link:not(.navigation-phone):active {
  background-color: #FCFCFC;
  border-radius: 30px;
}

.navigation-link:not(.navigation-phone):focus {
  border: 2px solid #2D3440;
  border-radius: 30px;
  background-color: rgba(252, 252, 252, 0.5);
}

.navigation-link-search {
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 27px;
  padding: 10px;
  margin-right: 16px;
}

.navigation-link-search:hover {
  background: rgba(252, 252, 252, 0.5);
}

.navigation-link-search:focus {
  border: 2px solid #2D3440;
  background: rgba(252, 252, 252, 0.5);
}

.navigation-link-search:active {
  background: #FCFCFC;
}

.navigation-link-login {
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 30px;
  padding-left: 38px;
  margin-right: 16px;
}

.navigation-link-login:hover {
  background: rgba(252, 252, 252, 0.5);
}

.navigation-link-login:focus {
  border: 2px solid #2D3440;
  background: rgba(252, 252, 252, 0.5);
}

.navigation-link-login:active {
  background: #FCFCFC;
}

.navigation-link-basket {
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 30px;
  padding-left: 38px;
}

.navigation-link-basket:hover {
  background: rgba(252, 252, 252, 0.5);
}

.navigation-link-basket:focus {
  border: 2px solid #2D3440;
  background: rgba(252, 252, 252, 0.5);
}

.navigation-link-basket:active {
  background: #FCFCFC;
}

.navigation-phone {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

/* Main */
.main-container {
  flex-grow: 1;
  padding-top: 24px;
}

.page-container {
  width: 1170px;
  margin: 0 auto;
}

.main-inner {
  padding-top: 68px;
}

/* Слайдер */
.product-slider-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-item-text {
  text-align: left;
  margin: 0;
  padding: 0;
  width: 470px;
  list-style-type: none;
}

.product-title {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  margin-bottom: 24px;
}

.product-description {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 48px;
  margin-right: 62px;
}

.product-description-button {
  margin-bottom: 126px;
}

.slider-list {
  margin-right: 80px;
  margin-bottom: 24px;
  width: 348px;
  text-align: center;
}

.slider-list-small {
  min-width: 100px;
  margin-left: 40px;
  text-align: center;
  opacity: 0.4;
}



.slider-list-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.slider-pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slider-pagination-item {
  margin-right: 8px;
}

.slider-pagination-button {
  width: 13px;
  height: 13px;
  background: #FCFCFC;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  opacity: 0.3;
  box-sizing: border-box;
}

.slider-pagination-button-current {
  background: #FCFCFC;
  opacity: 1;
  box-sizing: border-box;
}

.slider-pagination-button:hover {
  border: 1px solid #FCFCFC;
  background: rgba(252, 252, 252, 0.3);
  border-radius: 100px;
  box-sizing: border-box;
}

.slider-pagination-button:focus {
  background: rgba(252, 252, 252, 0.3);
  border: 1px solid #2D3440;
}

.slider-button {
  width: 38px;
  height: 38px;
  background-color: rgba(252, 252, 252, 0.3);
  background-image: url(../images/icon-arrow-right.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid #FCFCFC;
  border-radius: 26px;
  cursor: pointer;
}

.slider-button:hover {
  background-color: #FCFCFC;
  background-image: url(../images/icon-arrow-right-dark.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.slider-button:focus {
  background: rgba(252, 252, 252, 0.3);
  background-image: url(../images/icon-arrow-right-dark.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid #2D3440;
}

.slider-prev {
  transform: rotate(180deg);
}

.slider-button-container {
  position: absolute;
  top: 50%;
  width: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
}

.pagination-socials-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.slider-image {
  background-image: url(../images/background-slider-list.svg);
  background-size: 306px 306px;
  background-position: center center;
  background-repeat: no-repeat;
}

.slider-list-small {
  background-image: url(../images/background-slider-list.svg);
  background-size: 100px 100px;
  background-position: center center;
  background-repeat: no-repeat;
}

/* Общие разделы */
.banner {
  margin-bottom: 80px;
}

.section-title {
  margin: 0;
  padding: 0;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  margin-bottom: 55px;
}

.banner-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.banner-item {
  display: flex;
  background: #FF7799;
  border-radius: 16px;
  width: 570px;
}

.banner-item-container {
  padding-left: 36px;
  padding-top: 36px;
}

.banner-title,
.product-gallery-title {
  text-align: center;
}

.banner-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
}

.banner-item-title {
  margin-bottom: 28px;
}

.banner-item-text {
  margin-bottom: 28px;
}

.banner-buttom-prize:active {
  background: #FF2F64;
  border: 4px solid rgba(255, 47, 100, 0.3);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  background-clip: padding-box;
  color: #FCFCFC;
}

/* Галерея */
.product-list {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  row-gap: 200px;
  column-gap: 30px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 250px;
}

.product-gallery-title {
  margin-bottom: 56px;
}

/* Преимущества */
.advantages-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 190px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item {
  display: flex;
  align-items: flex-start;
  width: 506px;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

.advantages {
  background: #FEAFC3 url("../images/index-seo-background.jpg") 0 0;
  background-size: cover;
  color: #2D3440;
  border-radius: 16px;
  padding: 24px;
}

.index-ceo {
  background: #FFFFFF;
  border-radius: 16px;
  padding: 56px 40px;
}

.advantages-title {
  text-align: center;
  margin-bottom: 56px;
}

.advantages-description {
  color: #565C66;
  width: 505px;
  margin: 0;
  padding: 0;
}

.advantages-item:nth-child(2) {
  margin-bottom: 0;
  margin-right: 32px;
}

.advantages-item:nth-child(4) {
  margin-bottom: 0;
}

.advantages-item:nth-child(1) {
  margin-right: 32px;
}

.advantages-item-image {
  margin-right: 16px;
  width: 48px;
  height: 48px;
}

/* Новости и подписаться */
.news-subscribe-container {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  margin-bottom: 80px;
}

.aside-news {
  background: #FFFFFF url("../images/news-background.jpg") no-repeat 0 0;
  background-size: cover;
  justify-content: center;
  border-radius: 16px;
  margin-right: 30px;
  padding-top: 32px;
  padding-left: 32px;
  width: 570px;
}

.aside-news-lead {
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
  line-height: 20px;
  color: #565C66;
}

.aside-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 68px;
  width: 302px;
}

.subscribe {
  display: flex;
  background: #FFFFFF url("../images/subscribe-background.png") no-repeat 0 0;
  background-size: cover;
  border-radius: 16px;
  padding: 6px;
  width: 570px;
}

.subscribe-background {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  border-radius: 16px;
  padding: 26px 26px;
}

.subscribe-text {
  color: #565C66;
  margin: 0;
  margin-bottom: 44px;
  width: 506px;
}

.subscribe-from {
  display: grid;
  grid-template-columns: 332px 152px;
  gap: 8px;
  align-items: center;
  width: 506px;
}

.subscribe-from-email {
  padding: 14px 160px 14px 16px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.subscribe-button {
  border-radius: 26px;
  background: #FF2F64;
  color: #FCFCFC;
}

.subscribe-button:hover {
  background: rgba(252, 252, 252, 0.3);
  border: 4px solid #FF2F64;
  color: #2D3440;
}

.subscribe-button:focus {
  background: #FF2F64;
  border: 2px solid #2D3440;
  color: #2D3440;
}

/* Доставка */
.appointment {
  background: #FFFFFF url("../images/appointment-background.jpg") no-repeat 0 0;
  background-size: cover;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
  padding: 64px 64px 64px 100px;
}

.appointment-title {
  width: 356px;
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
}

.appointment-text {
  width: 370px;
  margin: 0;
  padding: 0;
}

.appointment-title,
.appointment-text {
  text-align: left;
}

.appointment-form-content {
  background: #FCFCFC;
  border-radius: 8px;
  padding: 40px;
}

.appointment-text,
.appointment-form {
  color: #565C66;
}

.appointment-form {
  display: grid;
  grid-template-columns: 124px 288px;
  gap: 16px 20px;
}

.appointment-form-address {
  grid-column: 1 / -1;
}

.appointment-button {
  grid-column: 1 / -1;
  justify-self: center;
  margin-top: 12px;
}

.field-group {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.appointment-img {
  display: none;
}

.form-label {
  margin-bottom: 8px;
}

.form-label-date {
  background-image: url(../images/icon-info.svg);
  background-repeat: no-repeat;
  background-size: 14px 14px;
  width: 58px;
  background-position: center right;
}

.form-label-address {
  background-image: url(../images/icon-info.svg);
  background-repeat: no-repeat;
  background-size: 14px 14px;
  width: 70px;
  background-position: center right;
}

.appointment-form label {
  font-weight: 700;
  line-height: 20px;
  color: #2D3440;
}

.appointment-form-text {
  margin: 0;
  width: 380px;
  margin-bottom: 32px;
}

.input-content {
  padding: 14px 16px 14px 16px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #2D3440;
  background: #FFFFFF;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
}

.input-content:hover {
  color: #2D3440;
  background: #FFFFFF;
  border: 1px solid #2D3440;
}

.input-content:focus {
  border: 2px solid #2D3440;
}

.input-content::placeholder {
  color: #B9B9B9;
}

/* Контакты */
.main-contacts {
  display: flex;
  padding: 64px 0 64px 64px;
  background: #FFFFFF url("../images/main-contacts-background.jpg") no-repeat 0 0;
  background-size: cover;
  border-radius: 16px;
}

.main-contacts-item {
  display: flex;
  flex-direction: column;
  background: #FCFCFC;
  border-radius: 8px;
  text-align: left;
  padding-top: 40px;
  padding-left: 40px;
  padding-bottom: 42px;
}

.main-contacts-text {
  color: #565C66;
  width: 180px;
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
}

.main-contacts-address,
.main-contacts-phone {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #2D3440;
  margin: 0;
  padding: 0;
}

.main-contacts-address-text {
  width: 264px;
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
  margin-right: 40px;
}

.main-contacts-phone-time {
  font-size: 14px;
  line-height: 20px;
  color: #565C66;
  margin-bottom: 32px;
}

.main-contacts-button {
  margin-left: 0;
  margin-right: auto;
}

/* Подвал */
.page-footer-container {
  display: flex;
  justify-content: space-between;
  height: 153px;
  width: 1170px;
  margin: 0 auto;
  margin-top: 48px;
}

.footer-navigation-link {
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  text-decoration: none;
  color: #2D3440;
  width: 356px;
  height: 48px;
}

.footer-navigation-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  height: 68px;
  width: 356px;
  list-style-type: none;
}

.footer-navigation-item {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
  margin-right: 24px;

}

.footer-navigation-item:nth-child(2) {
  margin: 0;
}

.footer-navigation-item:nth-child(4) {
  margin: 0;
}

.footer-navigation-item-element {
  margin-left: -22px;
}

.footer-navigation-img {
  margin-right: 4px;
}

.footer-navigation-link span {
  font-weight: 700;
}

.htmlacademy-link {
  color: #2D3440;
}

.social-media {
  display: flex;
  width: 128px;
  margin: 0;
  margin-right: 300px;
}

.social-media-pagination {
  margin: 0;
}

.social-media-list {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.social-media-footer {
  margin-right: 300px;
}

.social-media-item-button:last-child {
  margin-right: 40px;
}

.social-media-item-button {
  border: 2px solid rgba(252, 252, 252, 0.5);
  border-radius: 50px;
  background-clip: padding-box;
}

.social-media-item-button:hover {
  background-color: #2D3440;
  border: 2px solid rgba(252, 252, 252, 0.5);
  border-radius: 24px;
  background-clip: padding-box;
}

.social-media-item-button:active {
  background-color: #2D3440;
  border: 2px solid rgba(252, 252, 252, 0.5);
  border-radius: 24px;
  background-clip: padding-box;
  opacity: 0.5;
}

.social-media-item-button:focus {
  background-color: #2D3440;
  border: 2px solid #2D3440;
  border-radius: 24px;
}

.social-media-item {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 27.5px;
  height: 27.5px;
  margin-right: 16px;
}

.footer-htmlacademy {
  margin-left: 180px;
}

.about-text {
  font-size: 12px;
  line-height: 16px;
  margin: 0;
  padding: 0;
  margin-top: 18px;
}

/* Каталог. Фильтр */
.breadcrumbs {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
}

.breadcrumbs-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: #2D3440;
}

.breadcrumbs-item {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  margin-right: 28px;
}

.breadcrumbs-item::after {
  position: absolute;
  display: block;
  content: "";
  width: 7px;
  height: 7px;
  top: 8px;
  right: -18px;
  background-image: url(../images/breadcrumbs-icon-right.svg);
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.inner-header-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

.catalog-products {
  margin-bottom: 44px;
}

.catalog-filter {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  font-size: 14px;
  line-height: 20px;
  width: 840px;
  margin-right: 346px;
}

.catalog-filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catalog-sorting-content {
  width: 196px;
  margin-right: 24px;
  margin-bottom: 16px;
}

.catalog-filter-background {
  padding: 8px 16px 8px 16px;
  background: #fcfcfc40;
  border-radius: 20px;
}

.range-background {
  padding: 17px 16px 17px 16px;
}

.catalog-filter p {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}

.catalog-filter-list {
  display: flex;

}

/* Каталог продукты */

.product-card {
  position: relative;
  display: grid;
  flex-direction: column;
}

.product-card-background {
  position: absolute;
  background-color: #FCFCFC;
  border-radius: 8px;
  margin-top: 50px;
  padding: 132px 36px 24px 36px;
  z-index: -1;
}

.product-card-content {
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-grow: 1;
}

.product-card-price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-card-link {
  text-decoration: none;
}

.product-card-link-image {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 50%;
  width: 168px;
  height: 168px;
}

.product-card-image {
  position: relative;
  width: auto;
  object-fit: none;
  right: 51px;
}

.product-card-title,
.product-card-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2D3440;
}

.product-card-title {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}

.product-card-text {
  color: #565C66;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
}

.product-gallery-catalog {
  position: relative;
}

.product-list-footer {
  position: relative;
  margin-bottom: 228px;
}

.product-icon-basket {
  background: #FF2F64;
  padding: 8px;
  fill: #FCFCFC;
  border: 2px solid #FF2F64;
  border-radius: 26px;
}

.product-icon-basket:hover {
  border: 2px solid #FF2F64;
  fill: #2D3440;
  background: rgba(252, 252, 252, 0.3);
}

.product-icon-basket:focus {
  background: #FF2F64;
  border: 2px solid #2D3440;
  fill: #2D3440;
}

/* Пагинация */
.pagination-container {
  display: flex;
  margin-bottom: 80px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-show-more {
  margin-right: 336px;
  margin-left: auto;
}

.pagination-item {
  max-width: 24px;
  max-height: 24px;
  margin-right: 14px;
}

.pagination-item:not(:last-child) {
  margin-right: 15px;
}

.pagination-link {
  line-height: 20px;
  text-decoration: none;
  color: #2D3440;
  min-width: 24px;
  min-height: 24px;
}

.pagination-current {
  background: #FCFCFC;
  border: 1px solid #FCFCFC;
  border-radius: 50px;
  padding: 2px 8px 2px 8px;
}

.pagination-link:hover {
  background: rgba(252, 252, 252, 0.5);
  border-radius: 50px;
}

.pagination-link:focus {
  background: rgba(252, 252, 252, 0.3);
  border: 1px solid #2D3440;
}

.footer-navigation-link {
  width: 168px;
}

.page-footer-container-line {
  border-top: 1px solid rgba(252, 252, 252, 0.3);
  padding: 48px;
  margin-top: 0;
}

/* Фильтр и сортировка */
.catalog-filter-group {
  min-width: 196px;
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  border: none;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: #C69BAA;
  border-radius: 2px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #565C66;
  border-radius: 2px;
}

.range-toggle {
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url(../images/filter-point-static.svg);
  border-radius: 100%;
  border: none;
  cursor: pointer;

}

.range-toggle:hover {
  background-image: url(../images/filter-point-hover.svg);
}

.range-toggle:focus {
  background-image: url(../images/filter-point-focus.svg);
}

.range-toggle:active {
  background-image: url(../images/filter-point-active.svg);
}

.toggle-min {
  top: -8px;
}

.toggle-max {
  top: -8px;
  right: -14px;
}

.range-wrapper-inputs {
  display: none;
}

.catalog-filter-title {
  margin-bottom: 8px;
}

.fat-content {
  width: 384px;
  margin-left: 24px;
}

.fat-content-background {
  padding: 8px 24px 8px 24px;
}

.fillers-background {
  padding: 10px 24px 10px 24px;
}

.fillers-content {
  margin-bottom: 0;
  margin-right: 16px;
  width: 604px;
}

.fillers-button {
  padding: 8px 52px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  background: rgba(252, 252, 252, 0.3);
  border: 2px solid #FCFCFC;
  border-radius: 20px;
}

.fillers-button:hover {
  background: #FCFCFC;
  border: 2px solid rgba(252, 252, 252, 0.3);
  border-radius: 20px;
}

.fillers-button:focus {
  background: rgba(252, 252, 252, 0.3);
  border: 2px solid #2D3440;
  border-radius: 20px;
}

.fillers-button:disabled {
  background: rgba(252, 252, 252, 0.3);
  opacity: 0.4;
  border: 2px solid #FCFCFC;
  border-radius: 20px;
}
